/* Reset padding and margins for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Import custom fonts */
@font-face {
    font-family: '50Fonts2';
    src: url('/static/main/50Fonts2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfpro';
    src: url('/static/main/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Style the body */
body {
    font-family: 'sfpro', sans-serif;
    background: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

/* Navbar styles */
.navbar {
    background-color: #ffffff;
    display: flex;
    border-bottom: 0.25px solid #828282;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    padding-bottom: 0;
}

.navbar a {
    margin-right: 75px;
}

.nav-item img {
    transform: scale(2.25);
    transform-origin: center;
    margin-right: 100px;
}

@media (max-width: 991px) {
    .navbar a {
        margin-right: 10px;
    }

    .nav-item img {
        margin-right: 0;
        max-height: 100px;
        width: 100%;
        height: 100%;
    }

    .navbar-nav {
        padding-left: 0;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow-y: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-toggler {
        background-color: transparent;
        border: none;
    }

    .navbar-toggler img {
        height: 30px;
        width: 30px;
    }

    .navbar-nav .nav-item {
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        display: flex;
    }

    .nav-item img {
        width: 15vh;
        height: 15vh;
        margin: auto;
    }
}

.navbar-brand {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    height: 75px;
}

@media (max-width: 991px) {
    .navbar-brand {
        padding: 5px 10px;
        width: auto;
    }
}

/* Masthead styles */
header.masthead {
    margin-bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    height: auto;
    min-height: 75vh;
    object-fit: cover;
    width: 100%;
    font-family: 'sfpro';
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.masthead h1 {
    color: #ffffff;
    font-size: 5.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: '50Fonts2', sans-serif;
    text-transform: lowercase;
    line-height: 1;
    margin-left: 2rem;
    margin-right: 3rem;
}

.masthead p {
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Custom Button Styles */
.btn-custom {
    background-color: #ffffff;
    color: #ffffff;
    border: none;
}

.site-footer {
    background-color: #2d2d8b;
    color: #fff;
    padding: 40px 0;
}



.site-footer p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.site-footer .footer-links {
    list-style: none;
    padding: 0;
}

.site-footer .footer-links li {
    margin-bottom: 10px;
}

.site-footer .footer-links a {
    color: #ffffff;
    text-decoration: none;
}


.footer-bottom {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.875rem;
    color: #ffffff;
}

/* General styling for the info section */
.info-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px 0;
}

/* Info Box Styling */
.info-box-menu,
.info-box-events,
.info-box-membership {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1;
    margin: 0 15px;
    transition: all 0.3s ease;
}

.info-box-menu,
.info-box-events,
.info-box-membership:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.info-box-menu h2 {
    font-size: 2rem;
    color: #8EBD1F;
    margin-bottom: 15px;
}


.info-box-events h2 {
    font-size: 2rem;
    color: rgba(236, 58, 148, 1);
    margin-bottom: 15px;
}

.info-box-membership h2 {
    font-size: 2rem;
    color: #00A327;
    margin-bottom: 15px;
}


.info-box-menu,
.info-box-events,
.info-box-membership p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
}

.btn-link-menu,
.btn-link-events,
.btn-link-membership {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.btn-link-menu {
    background-color: #8EBD1F;
}

.btn-link-events {
    background-color: rgba(236, 58, 148, 1);
}

.btn-link-membership {
    background-color: #00A327;
}

/* .btn-link-menu:hover,
.btn-link-events:hover,
.btn-link-membership:hover {
    background-color: #828282;
} */

/* Responsive Adjustments */
@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
        align-items: center;
    }


    .in.info-box-menu,
    .info-box-events,
    .info-box-membership {
        margin: 15px 0;
        width: 80%;
    }
}