{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
<link href="{% static 'main/about.css' %}" rel="stylesheet" />
{% endblock extra_head %}

{% block header_section %}
<header
  class="masthead"
  style="background-image: url('{% static 'main/images/header-about.jpg' %}')"
>
  <!-- Header content -->
</header>
{% endblock header_section %}

{% block content_section %}
<section id="blue-background" class="text-center py-3">
  <div class="container">
    <h2 class="mb-2">
      Unsere Mission ist es, die besten Kaffeespezialitäten mit einer 
      <span class="permanent-50Fonts2" style="color: rgba(251, 110, 47, 1);">freundlichen</span>
      <span class="permanent-50Fonts2" style="color: #2d2d8b;">Atmosphäre</span> 
      zu bieten.
    </h2>
  </div>
</section>

<section id="about-us" class="pb-3">
  <div class="container">
    <!-- Keep the about-1 section unchanged -->
    <div class="row mb-3 position-relative">
      <div class="col-12 text-center">
        <img
          src="{% static 'main/images/about1.jpg' %}"
          alt="{% trans 'Unser Café' %}"
          class="img-fluid mb-2 about-img"
        />
      </div>
    </div>
 <!-- Second Row -->
  <div class="row mb-5 align-items-center">
    <div class="col-md-6">
      <h2 style="color: #2d2d8b">
        {% trans "Gemütliches Ambiente" %}
      </h2>
      <p class="about-text" style="color: #555;">
        {% trans "Unser Café bietet eine warme und einladende Atmosphäre, in der sich jeder Gast wohlfühlt." %}
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="{% static 'main/images/about-3.jpg' %}"
        alt="{% trans 'Unser Café' %}"
        class="img-fluid"
      />
    </div>
  </div>

  <!-- Third Row -->
  <div class="row mb-5 align-items-center">
    <div class="col-md-6">
      <img
        src="{% static 'main/images/about-2.jpg' %}"
        alt="{% trans 'Eine Tasse Kaffee mit Herz' %}"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6">
      <h2 style="color: #2d2d8b">
        {% trans "Eine Tasse Kaffee mit Herz" %}
      </h2>
      <p class="about-text" style="color: #555;">
        {% trans "Bei uns steht nicht nur der Kaffee im Mittelpunkt, sondern auch das Herz, das in jede Tasse fließt." %}
      </p>
    </div>
  </div>
</div>
<!-- New row for the big centered image -->
<div class="row mb-5">
    <div class="col-12 text-center">
        <img
          src="{% static 'main/images/map.jpg' %}" 
          alt="{% trans 'Location Map' %}"
          class="img-fluid large-centered-img"
        />
    </div>
</div>
{% endblock content_section %}