{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
<link href="{% static 'main/about.css' %}" rel="stylesheet" />
{% endblock extra_head %}

{% block header_section %}
<header
  class="masthead"
  style="background-image: url('{% static 'main/images/header-about.jpg' %}')"
>
  <!-- Header content -->
</header>
{% endblock header_section %}

{% block content_section %}
<section id="blue-background" class="text-center py-3">
  <div class="container">
    <h2 class="mb-2">
      {% trans "Unsere Mission ist es, die besten Kaffeespezialitäten mit einer freundlichen Atmosphäre zu bieten." %}
    </h2>
  </div>
</section>

<section id="about-us" class="pb-3">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center">
        <img
          src="{% static 'main/images/about1.jpg' %}"
          alt="{% trans 'Unser Café' %}"
          class="img-fluid mb-2"
        />
        <h3>{% trans "Eine Tasse Kaffee mit Herz" %}</h3>
        <p>{% trans "Bei uns steht nicht nur der Kaffee im Mittelpunkt, sondern auch das Herz, das in jede Tasse fließt." %}</p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 text-center">
        <img
          src="{% static 'main/images/about-2.jpg' %}"
          alt="{% trans 'Gemütliches Ambiente' %}"
          class="img-fluid mb-2"
        />
        <h3>{% trans "Gemütliches Ambiente" %}</h3>
        <p>{% trans "Unser Café bietet eine warme und einladende Atmosphäre, in der sich jeder Gast wohlfühlt." %}</p>
      </div>
    </div>
  </div>
</section>
{% endblock content_section %}