{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
<link href="{% static 'main/events.css' %}" rel="stylesheet" />
{% endblock extra_head %}

{% block header_section %}
<header
  class="masthead"
  style="background-image: url('{% static 'main/images/header-events.jpg' %}')"
>
  <!-- Header content -->
</header>
{% endblock header_section %}
{% block content_section %}
  <section id="blue-background" class="text-center py-3">
  <div class="container">
<h2 class="mb-2">
      Erleben Sie einzigartige Veranstaltungen wie 
      <span class="permanent-50Fonts2" style="color: rgba(236, 58, 148, 1);">Live-Musik</span>
      und 
      <span class="permanent-50Fonts2" style="color: #2d2d8b;">Kaffee-Workshops</span>.
    </h2>
  </div>
</section>

<div class="container my-5">
  <!-- First Row -->
  <div class="row mb-5">
    <div
      class="col-md-6 d-flex align-items-center justify-content-center"
      style="background-color: #f8f9fa"
    >
      <h2 style="color: #00A327">
        {% trans "Live-Musik-Abende, jeden Freitag ab 19:00 Uhr" %}
      </h2>
    </div>
    <div class="col-md-6">
      <img
        src="{% static 'main/images/event-1.jpg' %}"
        alt="{% trans 'Live-Musik' %}"
        class="img-fluid-big"
      />
    </div>
  </div>

  <!-- Second Row -->
  <div id="orange-block" class="row mb-5" style="background-color: #FB6E2F">
    <div
      class="col-md-6 order-md-2 d-flex align-items-center justify-content-center"
    >
      <h2 style="color: white">
        {% trans "Kaffee-Workshops, monatlich am Samstag" %}
      </h2>
    </div>
    <div class="col-md-6 order-md-1">
      <img
        src="{% static 'main/images/event-2.jpg' %}"
        alt="{% trans 'Kaffee-Workshops' %}"
        class="img-fluid"
      />
    </div>
  </div>

  <!-- Third Row -->
  <div class="row mb-5">
    <div
      class="col-md-6 d-flex align-items-center justify-content-center"
      style="background-color: #f8f9fa"
    >
      <h2 style="color: rgba(236, 58, 148, 1)">
        {% trans "Kunst- und Handwerksmarkt, jeden ersten Sonntag im Monat" %}
      </h2>
    </div>
    <div class="col-md-6">
      <img
        src="{% static 'main/images/event-3.jpg' %}"
        alt="{% trans 'Kunstmarkt' %}"
        class="img-fluid-big"
      />
    </div>
  </div>
</div>
{% endblock content_section %}