{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block header_section %}
<!-- Custom Header Section -->
<header class="masthead" style="background-image: url('{% static 'main/images/header.png' %}');">
    <div class="content-wrapper">
        <div class="text-content">
            <h1 class="header-title">
                {% trans "Willkommen bei Steiner Kaffeehaus" %}
            </h1>
            {% comment %} <p class="sub-text">
                {% trans "Ein großartiger Ort, um Kaffee und Gesellschaft zu genießen." %}
            </p> {% endcomment %}
        </div>
    </div>
</header>
{% endblock header_section %}

{% block content_section %}
<div class="main-container">
    <!-- Information Section -->
    <div class="info-section">


        <div class="info-box-menu">
            <h2>{% trans "Unser Menü" %}</h2>
            <p>
                {% trans "Von klassischen Backwaren bis hin zu modernen Favoriten – unser Menü bietet für jeden etwas." %}
            </p>
            <a class="btn-link-menu" href="{% url 'menu' %}">{% trans "Details ansehen »" %}</a>
        </div>
                <!-- Updated Event Information Box -->
        <div class="info-box-events">
            <h2>{% trans "Unsere Veranstaltungen" %}</h2>
            <p>
                {% trans "Erleben Sie bei uns Live-Musik, Kaffee-Workshops und andere spannende Events. Sehen Sie sich unsere aktuellen Veranstaltungen an und planen Sie Ihren Besuch." %}
            </p>
            <a class="btn-link-events" href="{% url 'events' %}">{% trans "Details ansehen »" %}</a>
        </div>

        <div class="info-box-membership">
            <h2>{% trans "Mitgliedschaft" %}</h2>
            <p>
                {% trans "Treten Sie unserer Gemeinschaft bei und genießen Sie besondere Vorteile, Veranstaltungen und die Freude am guten Kaffee." %}
            </p>
            <a class="btn-link-membership" href="{% url 'membership' %}">{% trans "Details ansehen »" %}</a>
        </div>
    </div>
</div>
{% endblock content_section %}