{% extends 'main/base.html' %} {% load static %} {% load i18n %}

<head>
  <link href="{% static 'main/membership.css' %}" rel="stylesheet" />
</head>

{% block header %}
<header
  class="masthead"
  style="background-image: url('{% static 'main/images/header-member.jpg' %}')"
>
  <!-- Header content -->
</header>
{% endblock header %} {% block content %}
<div id="membership-page" class="container my-5">
  <!-- Green Background Block -->
  <section id="green-background" class="text-center">
    <h2 class="overlay-text-green">
      {% trans "Werden Sie Mitglied und genießen Sie exklusive Vorteile." %}
    </h2>
  </section>

  <!-- Image Row -->
  <div class="col-md-12">
    <img src="{% static 'main/images/membership-1.jpg' %}" alt="{% trans
    "Mitgliedsvorteile" %}" class="img-fluid" />
  </div>

  <!-- Orange Background Block -->
  <div class="row mb-5 align-items-center" id="orange-block">
    <div class="col-md-6">
      <h2 class="overlay-text-red">
        {% trans "Monatliche Kaffeebohnen-Lieferung direkt zu Ihnen nach Hause."
        %}
      </h2>
    </div>
    <div class="col-md-6">
      <h2 class="overlay-text-red">
        {% trans "Exklusive Einladungen zu Mitglieder-Events und Verkostungen."
        %}
      </h2>
    </div>
  </div>
</div>
{% endblock content %}
